<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<link rel="stylesheet" href="../css/index.css?v=a0a3943e1f">
</head> 
<body>
	<% var txt = "5" %>  
	<ul> 
	<% for(i=0; i<txt; i++){ %>
		<li><%=i %>  <em><%= i+1 %></em></li>   
	<%}%>	
	</ul>
	<% include _parts/top.ejs %>
	<script src="../js/index.js?v=0eb8a7d922" type="text/javascript"></script>
</body>
</html>