@import '_parts/_common';
.user-top{height:95px;padding-top:95px;background:transparent url('../img/user-top-bg.png') left top no-repeat;background-size:100%;
	.top-wrap{position:absolute;padding:22px 0 22px 81px;top:0;left:0;right:0;
		.user-avatar{border:3px solid rgba(255,255,255,0.3);border-radius:50%;width:51px;height:51px;text-align: center;overflow:hidden;position: absolute;left:22px;top:23px;}
		.user-info{margin-top:10px;}
		.user-info h2{font-size:1.4rem;color:#fff;margin-bottom:0}
		.user-info p{font-size:1.2rem;color:rgba(255,255,255,0.8);}
	}
}

.user-wrap{margin-top:20px;border-top:2px solid #BCB0A3;border-bottom:1px solid #DFD6CC;padding-left:15px;font-size:1.3rem;
	.user-title{padding:10px 0;border-bottom:1px solid #DFD6CC;color:#282828;}
	.user-content{
		.col{text-align: center;color:#88837d;padding-top:8px;padding-bottom:8px;
			.col-con{border-left:1px solid #DFD6CC;cursor: pointer;}
			&:first-child{
				.col-con{border-left:0;}
			}
		}
	}
}

.exit-login{
	&.bar{background-color: transparent;}
	&.bar-footer{bottom:30px;padding-left:35px;padding-right:35px;height:70px;}
	.button{@extend %button;min-width:auto;}
}