html{font-size:0.625rem;}
body{max-width:640px;margin:0 auto;overflow:auto;overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling: touch;background-color: #F2F1F0;}
img{max-width:100%;max-height:100%;}
%button{
	&.button-disabled{background-image:-webkit-linear-gradient(top, #E9B2AE,#E5A5A1);color:#fff;border:1px solid #EFC6C3;
		&.activated{background-color:#E5A5A1;border-color:#E3A5A2;}
	}
	&.button-assertive{background-image:-webkit-linear-gradient(top, #DC6661,#D6524D);color:#fff;border:1px solid #E5817A;
		&.activated{background-color: #DB3631;background-image:none;border-color:#DB3631;}
		i{display:none;}
		&.subing{
			i{display: block; background-image: url('../img/_sprites/icon_subing.gif');position: absolute;right:10px;top:10px;height:25px;width:25px;}
		}
	}
	&.button-stable{background-color:#F9F5EE;color:#c8b5a1;
		&.activated{background-color:#EAE5DB;}
	}
}
.bar {
	&.bar-dark {background: -webkit-linear-gradient(top, #121212, #3e3e3e);}
}
.scroll-content {
	overflow: auto;
	overflow-x: hidden;
	overflow-y: scroll;
}