<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>关于赵涌</title>
        <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../../lib/css/ionic.css"/>
        <link rel="stylesheet" href="../css/about.css">
    </head>
    <body>
		<div class="bar bar-header bar-dark">
			<button class="button button-icon icon ion-chevron-left" onclick="location.href='index.html'"></button>
			<h1 class="title">关于赵涌</h1>
		</div>
		<div class="scroll-content ionic-scroll scroll has-header">
			<section class="user-wrap">
				<div class="user-title">关于我们</div>
				<div class="user-content about-desc">
					全球领先的艺术收藏交易平台，版块涵盖邮票、钱币、
					艺术、书画、文玩等。提供诚信专业保真的委托送拍、
					鉴定评级、安全交易、邮票钱币行情查询等服务。年
					交易额五亿元，累计三百万件。
				</div>
			</section>
			<section class="user-wrap">
				<div class="user-title">联系我们</div>
				<div class="user-content ctat-desc">
					<div class="ctat-row">
						<div class="ctat-info">
							<p>&emsp;<strong>86-21-23099900</strong></p>
							<p>&emsp;&emsp;service@zhaoonline.com</p>
						</div>
					</div>
					<div class="ctat-row">
						<h4 class="ctat-tit">上海</h4>
						<div class="ctat-info">
							<p>上海市漕河泾开发区田林路1016号科技绿洲三期2</p>
							<p>+86-21-23099900</p>
						</div>
					</div>
					<div class="ctat-row">
						<h4 class="ctat-tit"></h4>
						<div class="ctat-info">
							<p>北京市东城区东直门外大街46号天恒大厦1202室-1号楼</p>
							<p>+86-10-84608051</p>
						</div>
					</div>
					<div class="ctat-row">
						<h4 class="ctat-tit">广州</h4>
						<div class="ctat-info">
							<p>广州市越秀区越秀中路60号天下宝贝城A86</p>
							<p>+86-20-66256080</p>
						</div>
					</div>
					<div class="ctat-row">
						<h4 class="ctat-tit">香港</h4>
						<div class="ctat-info">
							<p>香港中环德辅道中六十至六十八号万宜大厦16楼1615室</p>
							<p>+852-37962684 / 37962685</p>
						</div>
					</div>
					<div class="ctat-row">
						<h4 class="ctat-tit">台湾</h4>
						<div class="ctat-info">
							<p>台北市敦化南路二段59号13楼之1</p>
							<p>+886-2-27070190</p>
						</div>
					</div>
					<div class="ctat-row">
						<h4 class="ctat-tit">德国</h4>
						<div class="ctat-info">
							<p>Platinweg 14，30823 Garbsen Germany</p>
							<p>+49-5131-477898</p>
						</div>
					</div>
				</div>
			</section>
		</div>
		<script src="../js/plugins.js"></script>
    </body>
</html>