<!DOCTYPE html>
<html lang="en" ng-app="ionicLogin">
    <head>
        <meta charset="UTF-8">
        <title>应用下载</title>
        <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../../lib/css/ionic.css"/>
        <link rel="stylesheet" href="../css/download.css">
    </head>
    <body>
		<div class="bar bar-header bar-dark">
			<button class="button button-icon icon ion-chevron-left" onclick="location.href='index.html'"></button>
			<h1 class="title">应用下载</h1>
		</div>
		<div class="scroll-content ionic-scroll has-header">
			<div class="scroll">
				<div class="adv-img"><img src="../img/download-adv.jpg" alt=""></div>
				<section class="user-wrap user-download">
					<div class="user-content">
						<a class="download-link" href="http://a.app.qq.com/o/simple.jsp?pkgname=com.zhaoonline.www&g_f=991653">
							<img src="../img/download-android.png" alt="">
							<button class="button button-small button-assertive"> 立即下载 </button>
						</a>
					</div>
					<div class="user-content">
						<a class="download-link" href="https://itunes.apple.com/cn/app/id468613187">
							<img src="../img/download-iphone.png" alt="">
							<button class="button button-small button-assertive"> 立即下载 </button>
						</a>
					</div>
				</section>
			</div>
		</div>
		<script src="../js/plugins.js"></script>
    </body>
</html>