<!DOCTYPE html>
<html lang="en" ng-app="ionicLogin">
    <head>
        <meta charset="UTF-8">
        <title>个人中心</title>
        <!-- <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <link rel="stylesheet" href="../../lib/css/ionic.css"/>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
		<div class="bar bar-header bar-dark">
			<!--<button class="button button-icon icon ion-chevron-left"></button>-->
			<h1 class="title">个人中心</h1>
		</div>
		<div class="scroll-content ionic-scroll has-header">
			<div class="user-top">
				<div class="top-wrap">
					<div class="user-avatar"><img src="../img/user-avatar-default.png" alt=""></div>
					<div class="user-info">
						<h2>赵涌帐号</h2>
						<p>80285642</p>
					</div>
				</div>
			</div>
			<section class="user-wrap">
				<div class="user-title">我的活动</div>
				<div class="user-content row">
					<div class="col"><div class="col-con">抽奖</div></div>
					<div class="col"><div class="col-con">秒杀</div></div>
					<div class="col"><div class="col-con">优惠券</div></div>
				</div>
			</section>
		</div>
		<div class="bar bar-footer exit-login">
			<button class="button button-block button-assertive"> 退出登录 </button>
		</div>
		<script src="../js/plugins.js"></script>
    </body>
</html>