<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
	<title>双旦活动</title>
	<link rel="stylesheet" href="../../common/css/pc-common.css">
	<link rel="stylesheet" href="../css/shuangdan.css">
</head>
<body>
	<div class="sd-top-banner"></div>
	<div class="sd-wrap">
		<div class="sd-btns floatBox">
			<a href="javascript:;" class="fb-btn win">中奖名单</a>
			<a href="javascript:;" class="fb-btn quick">立即参与</a>
			<div class="fb-share">
				<div class="fb-share-top"><span>分享至</span></div>
				<div class="share-item">
					<div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a><a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a></div>
					<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","weixin","sqq"],"viewText":"分享到：","viewSize":"32"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","weixin","sqq"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
				</div>
			</div>
		</div>
		<div class="sd-sec">
			<div class="sd-top"><h3>连续六日&emsp;每日不停</h3></div>
			<div class="sd-con medal">
				<img src="../img/icon-medals.png" alt="">
			</div>
		</div>
		<div class="sd-sec">
			<div class="sd-top"><div class="date-bar">2015-12-24</div><h3>谁是出价王</h3></div>
			<div class="sd-con cf">
				<div class="data-sec l">
					<div class="data-top"><i class="data-icon"></i>每日土豪榜</div>
					<div class="data-list">
						<div class="data-list-row data-header">
							<div class="data-list-col">名次</div>
							<div class="data-list-col">姓名</div>
							<div class="data-list-col">金额</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">1</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">2</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">3</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">4</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">5</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
					</div>
				</div>
				<div class="data-sec r">
					<div class="data-top"><i class="data-icon"></i>每日快手榜</div>
					<div class="data-list">
						<div class="data-list-row data-header">
							<div class="data-list-col">名次</div>
							<div class="data-list-col">姓名</div>
							<div class="data-list-col">金额</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">1</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">2</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">3</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">4</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">5</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sd-sec cld">
				<div class="sd-top bg-line"><h3>我的排名</h3></div>
				<div class="sd-con">
					<div class="my-rank">
						<span class="top-orn-line"><i class="orn-line-l"></i><i class="orn-line-r"></i></span>
						<div class="my-rank-noLogin">
							<img src="../img/no-login-tip.png" alt="">
							<p>原因可能是您未登录或未出价，请尽快登陆并出价</p>
						</div>
						<div class="my-rank-desc">您当前累计出价 <em>12</em> 次，累计出价金额 <em>20000</em> 元</div>
						<div class="my-rank-arena cf">
							<div class="arena-sec l">
								<div class="dog-arena-top">每日土豪榜</div>
								<p>第<strong>34234</strong>名</p>
							</div>
							<div class="arena-sec r">
								<div class="quick-arena-top">每日快手榜</div>
								<p>第<strong>102</strong>名</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sd-sec cld">
				<div class="sd-top bg-line"><h3>活动攻略</h3></div>
				<div class="sd-con">
					<img src="../img/strategy-guide.png" alt="">
				</div>
			</div>
		</div>
		<div class="sd-sec">
			<div class="sd-top"><h3>业务规则</h3></div>
			<div class="sd-con">
				<img src="../img/rule-bg.jpg" alt="">
				<div class="rule-tip">
					<p>■ 本活动最终解释权归赵涌在线所有</p>
				</div>
			</div>
		</div>
	</div>
	<script src="../../common/js/jquery-1.11.3.min.js" type="text/javascript"></script>
	<script src="../js/shuangdan.js" type="text/javascript"></script>
</body>
</html>