<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>demo</title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
	<% var txt = "5" %>
	<ul>
	<% for(i=0; i<txt; i++){ %>
		<li><%=i %>  <em><%= i+1 %></em></li>
	<%}%>	
	</ul>  adsfa  
	<% include _parts/top.ejs %>
</body>
</html>