<ion-view title="" class="filter">
  <ion-nav-buttons side="right">
    <button class="button button-clear" menu-toggle="left">重置</button>
    <button class="button button-clear" menu-toggle="left">确定</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-divider">
        商家
      </div>
      <div class="item button-bar">
        <a class="button">全部</a>
        <a class="button">自营</a>
        <a class="button">联营</a>
      </div>
      <div class="item item-divider">
        排序
      </div>
      <div class="item button-bar">
        <a class="button">默认</a>
        <a class="button">价格高的</a>
        <a class="button">价格低的</a>
      </div>
      <div class="item item-divider">
        分类
      </div>
      <div class="item button-bar">
        <a class="button">文革邮票</a>
        <a class="button">编号邮票</a>
        <a class="button">编年新邮</a>
      </div>
      <div class="item item-divider">
        属性
      </div>
      <div class="item button-bar">
        <a class="button">全品</a>
        <a class="button">中品</a>
        <a class="button">评级邮票</a>
      </div>
    </div>
  </ion-content>
</ion-view>
