<!DOCTYPE html>
<html lang="en" ng-app="rankData">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>双旦活动</title>
	<link rel="stylesheet" href="../../../lib/css/ionic.css">
	<link rel="stylesheet" href="../css/shuangdan.css">
</head>
<body ng-controller="rankCtrl">
	<ion-nav-bar>
	  <ion-nav-back-button>
	  </ion-nav-back-button>
	</ion-nav-bar>
	<ion-content>
	  	Some content!
	</ion-content>

	<div class="sd-wrap">
		<div class="sd-sec">
			<div class="sd-con con-rank">
				<div class="data-sec o">
					<div class="data-top"><a class="return" href="javascript:;"></a> 每日土豪榜 </div>
					<div class="data-list">
						<div class="data-list-row data-header">
							<div class="data-list-col">名次</div>
							<div class="data-list-col">姓名</div>
							<div class="data-list-col">金额</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">1</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">2</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">3</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">4</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">5</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="sd-btns">
			<a href="javascript:;" class="sd-btn win">中奖名单</a>
		</div>
	</div>
	<script src="../../../lib/js/ionic/ionic.bundle.min.js"></script>
	<script type="text/javascript" src="../js/rank-data.js"></script>
</body>
</html>