<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>双旦活动</title>
	<link rel="stylesheet" href="../../../common/css/mb-common.css">
	<link rel="stylesheet" href="../css/shuangdan.css">
</head>
<body>
	<div class="sd-top-banner"><img class="res-img" src="../img/sd-banner.jpg" alt=""></div>
	<div class="sd-wrap">
		<div class="sd-sec">
			<div class="sd-top"><h3>连续六日&emsp;每日不停</h3></div>
			<div class="sd-con medal">
				<img class="res-img" src="../img/icon-medals.png" alt="">
			</div>
		</div>
		<div class="sd-sec">
			<div class="sd-top"><div class="date-bar">2015-12-24</div></div>
			<div class="sd-con con-rank">
				<div class="data-sec o">
					<div class="data-top">每日土豪榜 <a class="more" href="javascript:;">更多</a></div>
					<div class="data-list">
						<div class="data-list-row data-header">
							<div class="data-list-col">名次</div>
							<div class="data-list-col">姓名</div>
							<div class="data-list-col">金额</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">1</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">2</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">3</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">4</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">5</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
					</div>
				</div>
				<div class="data-sec t">
					<div class="data-top">每日快手榜 <a class="more" href="javascript:;">更多</a></div>
					<div class="data-list">
						<div class="data-list-row data-header">
							<div class="data-list-col">名次</div>
							<div class="data-list-col">姓名</div>
							<div class="data-list-col">金额</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">1</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">2</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">3</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row">
							<div class="data-list-col">4</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
						<div class="data-list-row even">
							<div class="data-list-col">5</div>
							<div class="data-list-col">莉莉丝</div>
							<div class="data-list-col">120000</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sd-sec cld">
				<div class="sd-top bg-line"><h3>我的排名</h3><a href="javascript:;" name="id"></a> </div>
				<div class="sd-con">
					<div class="my-rank">
						<div class="my-rank-desc">您当前累计出价 <em>12</em> 次，累计出价金额 <em>200</em> 元</div>
						<div class="my-rank-arena cf">
							<div class="arena-sec l">
								<div class="dog-arena-top">每日土豪榜</div>
								<p>第<strong>34234</strong>名</p>
							</div>
							<div class="arena-sec r">
								<div class="quick-arena-top">每日快手榜</div>
								<p>第<strong>102</strong>名</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="sd-sec cld">
				<div class="sd-top bg-line"><h3>活动攻略</h3></div>
				<div class="sd-con">
					<img class="res-img" src="../img/strategy-guide.png" alt="">
				</div>
			</div>
		</div>
		<div class="sd-sec">
			<div class="sd-top"><h3>活动规则</h3></div>
			<div class="sd-con con-rule">
				<img class="res-img" src="../img/rule-bg.png" alt="">
				<div class="rule-tip">
					<p>■ 本活动最终解释权归赵涌在线所有</p>
				</div>
			</div>
		</div>
		<div class="sd-btns">
			<a href="javascript:;" class="sd-btn win">中奖名单</a>
			<a href="javascript:;" class="sd-btn quick">立即参与</a>
		</div>
	</div>
</body>
</html>